[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[headers]]
  for = "/*"
  [headers.values]
    # Allow this site to be embedded in iframes from specific domains
    Content-Security-Policy = "frame-ancestors 'self' https://xn--9m1bu8iv0ao6ao5fsta.com https://xn--o39an51adfcu1bv3f00ah0j.com https://xn--xy1b23ggrmm5bfb82ees967e.com http://localhost:* "
    X-Frame-Options = "ALLOW-FROM https://xn--o39an51adfcu1bv3f00ah0j.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[edge_functions]]
  path = "/api/kakao-login"
  function = "kakao-login"
