<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rhythmjoy.codex-ingestion-priority2</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/inteyeo/scripts/run-ingestion.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>ExitTimeOut</key>
    <integer>15</integer>
    <key>StandardOutPath</key>
    <string>/Users/inteyeo/claude_ingestion.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/inteyeo/claude_ingestion.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>/Users/inteyeo</string>
        <key>INGESTION_NATIVE_SOURCE_PRIORITY</key>
        <string>2</string>
        <key>INGESTION_NATIVE_RUN_BUDGET_MS</key>
        <string>1200000</string>
    </dict>
</dict>
</plist>
