openapi: 3.1.0
info:
  title: Dance Billboard External Event API
  version: 1.3.0
  description: |
    외부 파트너가 소유한 Dance Billboard 일정을 등록·수정·삭제하는 서버 간 API입니다.
    `/events`는 모든 장르의 날짜별 개별 일정에 사용합니다.
    `/regular-socials`는 매주 반복하는 정규 소셜의 기본 규칙에만 사용하며,
    DJ·휴무는 날짜별 예외로, 포스터가 있는 한 회차는 `/events`로 등록합니다.
servers:
  - url: https://swingenjoy.com
tags:
  - name: Events
    description: 모든 장르의 날짜별 개별 일정
  - name: Regular socials
    description: 정규 소셜 반복 규칙과 날짜별 DJ·휴무 예외
  - name: Images
    description: 개별 일정에 사용할 이미지 업로드
paths:
  /api/external/v1/events:
    post:
      summary: 외부 일정 등록
      description: |
        소셜·행사·강습·동호회의 날짜가 정해진 일정을 등록합니다.
        포스터가 있는 정규 소셜 한 회차와 졸공도 이 엔드포인트를 사용합니다.
        같은 날짜와 장소의 공식 API 소셜은 수집본보다 우선 노출됩니다.
      operationId: createExternalEvent
      tags: [Events]
      security:
        - partnerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalEventRequest'
      responses:
        '201':
          description: 최초 등록 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '200':
          description: 같은 external_id로 이미 등록된 일정
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/external/v1/regular-socials:
    post:
      summary: 정규 소셜 반복 규칙 등록 또는 동일 ID 갱신
      description: |
        매주 같은 요일에 열리는 정규 소셜의 기본 규칙을 등록합니다.
        생성되는 기본 일정은 DJ 미정, 포스터 없음, 장소 지도 상태입니다.
        image_mode, image_url, dj_name은 지원하지 않습니다.
      operationId: createRegularSocialRule
      tags: [Regular socials]
      security:
        - partnerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegularSocialRuleRequest'
            example:
              external_id: friday-social
              title: 금요 정규 소셜
              weekday: 5
              time: 오후 8시 30분
              location: 서울특별시 관악구 남부순환로 0000
              venue_name: 스윙홀
              source_url: https://partner.example.com/socials/friday
              valid_from: '2026-08-01'
              active: true
      responses:
        '201':
          description: 규칙 등록 성공
        '200':
          description: 동일 규칙 갱신 또는 테스트 검증 성공
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/external/v1/regular-socials/{external_id}:
    parameters:
      - name: external_id
        in: path
        required: true
        schema: { type: string, maxLength: 160 }
    put:
      summary: 정규 소셜 반복 규칙 수정
      description: URL과 본문에 같은 external_id를 사용하고 현재 규칙 전체를 전송합니다.
      operationId: updateRegularSocialRule
      tags: [Regular socials]
      security:
        - partnerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegularSocialRuleRequest'
      responses:
        '200': { description: 수정 성공 }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      summary: 정규 소셜 반복 규칙과 연결 예외 삭제
      operationId: deleteRegularSocialRule
      tags: [Regular socials]
      security:
        - partnerApiKey: []
      responses:
        '200': { description: 삭제 성공 }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/external/v1/regular-socials/{external_id}/exceptions:
    parameters:
      - name: external_id
        in: path
        required: true
        description: 반복 규칙 external_id
        schema: { type: string, maxLength: 160 }
    post:
      summary: 날짜별 휴무 또는 변경 예외 등록
      description: |
        DJ·시간·장소만 바뀌면 type=override, 휴무·취소이면 type=closure를 사용합니다.
        예외에는 포스터를 첨부할 수 없습니다. 포스터가 확정된 회차는 `/events`로 등록합니다.
      operationId: createRegularSocialException
      tags: [Regular socials]
      security:
        - partnerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegularSocialExceptionRequest'
            examples:
              djOverride:
                summary: 특정 날짜 DJ 확정
                value:
                  external_id: friday-social-20260807-dj
                  date: '2026-08-07'
                  type: override
                  dj_name: 재즈
                  source_url: https://partner.example.com/socials/friday/2026-08-07
              closure:
                summary: 특정 날짜 휴무
                value:
                  external_id: friday-social-20260814-closed
                  date: '2026-08-14'
                  type: closure
                  description: 광복절 연휴 휴무
                  source_url: https://partner.example.com/socials/friday/2026-08-14
      responses:
        '201': { description: 예외 등록 성공 }
        '200': { description: 동일 예외 갱신 또는 테스트 검증 성공 }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/external/v1/regular-socials/{external_id}/exceptions/{exception_id}:
    parameters:
      - name: external_id
        in: path
        required: true
        description: 반복 규칙 external_id
        schema: { type: string, maxLength: 160 }
      - name: exception_id
        in: path
        required: true
        schema: { type: string, maxLength: 160 }
    put:
      summary: 날짜별 예외 수정
      operationId: updateRegularSocialException
      tags: [Regular socials]
      security:
        - partnerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegularSocialExceptionRequest'
      responses:
        '200': { description: 수정 성공 }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      summary: 날짜별 예외 삭제
      operationId: deleteRegularSocialException
      tags: [Regular socials]
      security:
        - partnerApiKey: []
      responses:
        '200': { description: 삭제 성공 }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/external/v1/images:
    post:
      summary: 외부 일정 이미지 업로드
      operationId: uploadExternalEventImage
      tags: [Images]
      security:
        - partnerApiKey: []
      requestBody:
        required: true
        content:
          image/jpeg:
            schema:
              type: string
              contentMediaType: image/jpeg
              contentEncoding: binary
          image/png:
            schema:
              type: string
              contentMediaType: image/png
              contentEncoding: binary
          image/webp:
            schema:
              type: string
              contentMediaType: image/webp
              contentEncoding: binary
          image/avif:
            schema:
              type: string
              contentMediaType: image/avif
              contentEncoding: binary
      responses:
        '201':
          description: 이미지 검사·변환·저장 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/external/v1/events/{external_id}:
    parameters:
      - name: external_id
        in: path
        required: true
        schema:
          type: string
          maxLength: 160
    put:
      summary: 동일 파트너가 등록한 일정 전체 수정
      operationId: updateExternalEvent
      tags: [Events]
      security:
        - partnerApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalEventRequest'
      responses:
        '200':
          description: 수정 성공
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      summary: 동일 파트너가 등록한 일정 삭제
      operationId: deleteExternalEvent
      tags: [Events]
      security:
        - partnerApiKey: []
      responses:
        '200':
          description: 삭제 성공
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  securitySchemes:
    partnerApiKey:
      type: http
      scheme: bearer
      bearerFormat: SwingEnjoyPartnerKey
  schemas:
    RegularSocialRuleRequest:
      type: object
      description: |
        매주 같은 요일에 반복하는 소셜의 기본값입니다.
        기본 회차는 DJ 미정, 포스터 없음, 장소 지도 상태로 생성됩니다.
        포스터 또는 특정 날짜 DJ가 들어가는 필드는 이 요청에 사용할 수 없습니다.
      additionalProperties: false
      required: [external_id, title, weekday, location, source_url]
      properties:
        external_id:
          type: string
          maxLength: 160
          description: 파트너 시스템에서 바뀌지 않는 반복 규칙 고유 ID
        title:
          type: string
          maxLength: 255
          description: DJ 이름을 붙이지 않은 기본 소셜 제목
        weekday:
          type: integer
          minimum: 0
          maximum: 6
          description: 일요일 0, 월요일 1, 화요일 2, 수요일 3, 목요일 4, 금요일 5, 토요일 6
        time:
          type: string
          maxLength: 255
          description: 매주 적용할 기본 시간
        location:
          type: string
          maxLength: 255
          description: 카카오맵에서 확인할 수 있는 정확한 장소 또는 도로명주소
        venue_name:
          type: string
          maxLength: 255
          description: 화면에 표시할 장소명
        source_url:
          type: string
          format: uri
          pattern: '^https://'
          description: 반복 일정의 공식 공개 HTTPS 페이지
        source_id:
          type: string
          maxLength: 160
          description: 파트너 내부 원본 ID가 external_id와 별도로 필요한 경우 사용
        valid_from:
          type: string
          format: date
          description: 규칙 적용 시작일, 생략하면 현재 날짜부터 적용
        valid_until:
          type: string
          format: date
          description: 규칙 적용 종료일, 생략하면 활성 상태인 동안 유지
        active:
          type: boolean
          default: true
          description: false이면 이 규칙이 만든 미래 기본 일정을 제거
    RegularSocialExceptionRequest:
      type: object
      description: |
        반복 규칙 중 특정 날짜 한 회차만 바꾸거나 휴무 처리합니다.
        포스터는 지원하지 않으며, 포스터가 있는 회차는 `/events`로 개별 등록합니다.
      additionalProperties: false
      required: [external_id, date, type]
      properties:
        external_id:
          type: string
          maxLength: 160
          description: 예외 자체의 고유 ID. 규칙 ID와 별개의 값
        date:
          type: string
          format: date
          description: 예외를 적용할 실제 회차 날짜
        type:
          type: string
          enum: [closure, override]
          description: override는 DJ·시간·장소 변경, closure는 휴무·취소
        title:
          type: string
          maxLength: 255
          description: override 회차의 제목을 바꿀 때 사용
        time:
          type: string
          maxLength: 255
          description: override 회차의 변경 시간
        location:
          type: string
          maxLength: 255
          description: override 회차의 변경 장소
        venue_name:
          type: string
          maxLength: 255
          description: override 회차의 표시 장소명
        dj_name:
          type: string
          maxLength: 255
          description: 해당 날짜에 확정된 DJ 이름
        source_url:
          type: string
          format: uri
          pattern: '^https://'
          description: DJ 변경 또는 휴무를 확인할 수 있는 공식 공개 HTTPS 페이지
        description:
          type: string
          maxLength: 20000
          description: 변경 또는 휴무 사유
    ExternalEventRequest:
      type: object
      additionalProperties: false
      required:
        - external_id
        - title
        - source_url
        - event_dates
      allOf:
        - if:
            properties:
              category:
                enum: [event, class, club]
            required: [category]
          then:
            required: [image_mode, image_url]
      properties:
        external_id:
          type: string
          maxLength: 160
        title:
          type: string
          maxLength: 255
        event_dates:
          type: array
          minItems: 1
          maxItems: 366
          uniqueItems: true
          items:
            type: string
            format: date
          description: 실제 노출할 날짜. 단일 일정은 1개, 개별 날짜 일정은 여러 개를 전송.
        time:
          type: string
          maxLength: 120
        location:
          type: string
          maxLength: 255
        address:
          type: string
          maxLength: 255
          description: 선택값. 상세 지도는 부정확한 입력의 검색 첫 결과를 표시할 수 있으므로 확인된 도로명주소 권장
        address_detail:
          type: string
          maxLength: 255
          description: 층·호수 등 지도 검색에서 분리할 상세 위치
        postal_code:
          type: string
          pattern: '^\d{5}$'
        address_source:
          type: string
          enum: [daum_postcode, kakao_map, naver_map, google_map, road_address_api]
          description: 선택값. 주소를 확인한 서비스 기록
        location_link:
          type: string
          format: uri
          pattern: '^https://'
        description:
          type: string
          maxLength: 20000
        category:
          type: string
          enum: [social, event, class, club]
          description: 파트너 기본값이 설정된 경우 생략 가능
        genre:
          type: string
          maxLength: 64
          description: 선택한 category에 허용된 값만 사용합니다. event만 쉼표로 구분한 복수 장르를 허용하며 파티+대회는 동시 사용 불가, 기타는 단독만 가능합니다. social/class/club은 1개만 사용합니다.
        source_url:
          type: string
          format: uri
          pattern: '^https://'
        link_name1:
          type: string
          maxLength: 120
        image_url:
          type: string
          format: uri
          pattern: '^https://.*\\.(avif|jpg|jpeg|png|webp)([?#].*)?$'
        image_mode:
          type: string
          enum: [upload, url]
          description: upload은 이미지 업로드 API 반환 URL, url은 외부 공개 이미지 URL
        venue_name:
          type: string
          maxLength: 255
    SuccessResponse:
      type: object
      required: [ok, duplicate, event_id, event]
      properties:
        ok:
          type: boolean
          const: true
        duplicate:
          type: boolean
          const: false
        event_id:
          type: string
        event:
          type: object
    DuplicateResponse:
      type: object
      required: [ok, duplicate, event_id]
      properties:
        ok:
          type: boolean
          const: true
        duplicate:
          type: boolean
          const: true
        event_id:
          type: string
    ImageUploadResponse:
      type: object
      required: [ok, image_url, variants, content_type, bytes]
      properties:
        ok:
          type: boolean
          const: true
        image_url:
          type: string
          format: uri
        variants:
          type: object
          required: [image_micro, image_thumbnail, image_medium, image_full]
          properties:
            image_micro: { type: string, format: uri }
            image_thumbnail: { type: string, format: uri }
            image_medium: { type: string, format: uri }
            image_full: { type: string, format: uri }
        content_type:
          type: string
          const: image/webp
        bytes:
          type: object
          additionalProperties:
            type: integer
            minimum: 1
    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
  responses:
    BadRequest:
      description: 요청값 오류
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: API Key 오류
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: 해당 파트너 소유 일정 없음
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PayloadTooLarge:
      description: 요청 본문 크기 초과
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnsupportedMediaType:
      description: 지원하지 않는 이미지 Content-Type
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: 호출량 제한 초과
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
