@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000000;
  --header-bg-color: #1f2937;
  --calendar-bg-color: #111827;
  --event-list-bg-color: #1f2937;
  --event-list-outer-bg-color: #1f2937;
  --page-bg-color: #111827;
}

/* CSS 로드 전 깨진 레이아웃 방지 */
body {
  visibility: hidden;
}

body.loaded {
  visibility: visible;
}

#root {
  max-width: 650px;
  margin: 0 auto;
}

body, html {
  background-color: var(--bg-color);
}